.edit-user-page,
.change-password-page {
  max-width: 400px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      background-color: #0a74da;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: #075bb5;
      }
    }
  }
}
.edit-profile {
  width: 100%;
  max-width: 500px;
  margin: 40px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #222;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      margin: 10px 0 5px;
      font-weight: bold;
    }

    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      margin-bottom: 15px;
      font-size: 16px;
    }

    button {
      padding: 12px;
      background-color:var(--primary-color);
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background-color: var(--scondary-color);
      }
    }
  }
}
